*:root {
  --text: #434455;
  --white: #ffffff;
  --header: #4d5ae5;
  --navyblue: #2e2f42;
  --cloud: #f4f4fd;
  --btn: #e7e9fc;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--text);
  background-color: var(--white);
}

img {
  display: block;
}

.div-container {
  display: flex;
  width: 1440px;
  height: 72px;
  gap: 290px;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px 0 15px;
}
/* header section */

.logo {
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 0.03em;
  line-height: 1.17;
  color: var(--header);
}

.toplogo {
  margin-right: 76px;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.link {
  text-decoration: none;
}

.studio {
  color: var(--navyblue);
}

.list {
  list-style: none;
  display: flex;
  gap: 40px;
}

.nav {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navyblue);
  padding: 24px 0 24px;
}

.nav:hover,
.nav:focus,
.contact:hover,
.contact:focus,
.action-btn:focus,
.action-btn:hover {
  color: #404bbf;
}

.action-btn:focus,
.action-btn:hover {
  background-color: #404bbf;
}

.address {
  font-style: normal;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu {
  display: flex;
  gap: 40px;
}

.contact link {
  margin-right: 0;
}

.contact {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
}

.solutions-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 48px;
}
/* First Section */

.section-one {
  background-color: var(--navyblue);
  padding: 188px 0;
  display: flex;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 600px;
  max-width: 1440px;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.header {
  height: 72px;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.main-header {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 496px;
  align-items: center;
  justify-content: center;
}

.action-btn {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-size: 16px;
  color: #ffffff;
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
}

/* Second Section */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-two {
  padding: 120px 0;
}

.values-list {
  display: flex;
  gap: 24px;
}

.value {
  width: calc((100% - 3 * 24px) / 4);
}

.values-header {
  margin-bottom: 8px;
}

.header-three {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navyblue);
}

.desc {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
}

.container-svg-section-two {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
}

/*Third Section */

.section-three {
  padding-bottom: 120px;
}

.section-three-header {
  margin-bottom: 72px;
}

.images-list {
  display: flex;
  gap: 24px;
}

.images-one {
  flex-basis: calc((100% - 48px) / 3);
}

.header-two {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navyblue);
}

/*Fourth Section */
.section-four {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.section-four-header {
  margin-bottom: 72px;
}

.list-four {
  display: flex;
  gap: 24px;
}

.people-list {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  width: calc((100% -3 * 24px) / 4);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.socials-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding-top: 8px;
}

.social {
  width: 40px;
  height: 40px;
  list-style-type: none;
}

.social-item {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-item:hover,
.social-item:focus {
  background-color: #404bbf;
}

.social-item-svg {
  fill: #f4f4fd;
}

.container-img {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  padding-right: 16px;
}

.images-header {
  text-align: center;
  margin-bottom: 8px;
}

.photos-desc {
  text-align: center;
}

/*Fifth section */

.section-five {
  padding-top: 120px;
  padding-bottom: 120px;
}

.header-customers {
  font-size: 36px;
  line-height: 1.11;
  color: #2e2f42;
  margin-bottom: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.clients-list {
  display: flex;
  gap: 24px;
}

.clients {
  width: calc((100% - 120px) / 6);
  height: 88px;
  list-style-type: none;
}

.client-item {
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  color: #8e8f99;
  display: flex;
  align-items: center;
  justify-content: center;
}

.client-item:hover,
.client-item:focus {
  border-color: #404bbf;
  color: #404bbf;
}

.client-item-svg {
  fill: currentColor;
}

/*Footer*/

.container-social-media {
  display: flex;
  align-items: baseline;
}

.container-logo-p {
  margin-right: 120px;
}

.paragraph-social-media {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-list {
  display: flex;
  gap: 16px;
}

.footer-list-item {
  width: 40px;
  height: 40px;
}

.footer-social-media {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-social-media:hover,
.footer-social-media:focus {
  background-color: #31d0aa;
}

.footer-svg {
  fill: #f4f4fd;
}

.footer {
  background-color: var(--navyblue);
  padding: 100px 0;
}

.footer-link {
  display: inline-block;
  margin-bottom: 16px;
}

.motto {
  line-height: 1.5;
  color: var(--cloud);
  letter-spacing: 0.02em;
  max-width: 264px;
}

.studio-footer {
  color: #f4f4fd;
}

/*PORTFOLIO PAGE */

/* Portfolio Header */

.container-portfolio {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.portfolio-header {
  border-bottom: 1px solid #e7e9fc;
}

.navigation-portfolio {
  display: flex;
  align-items: center;
}

.portfolio-logo {
  margin-right: 76px;
}

.portfolio-menu {
  display: flex;
  gap: 40px;
}

.portfolio-link {
  padding: 24px 0;
}

.portfolio-list {
  display: flex;
  gap: 40px;
}

/*Portfolio Main */

.portfolio-section {
  padding-top: 96px;
  padding-bottom: 120px;
}

.portfolio-section-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--header);
  background-color: var(--cloud);
  cursor: pointer;
  padding: 12px 24px;
  border: 1px solid var(--btn);
  border-radius: 4px;
}

.btn:hover,
.btn:focus {
  color: #ffffff;
  background-color: #404bbf;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list-two {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-image {
  flex-basis: calc((100% - 48px) / 3);
}

.portfolio-image-link {
  display: block;
}

.portfolio-image-link:hover,
.portfolio-image-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.app {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-desc {
  margin-bottom: 8px;
}
